@model IEnumerable<CarRental.Models.Car>
@foreach(var item in Model.Take(3))
{
    <div class="sidebar-product align-items-center">
        <a href="product-details.html" class="image">
            <img src="~/assets/images/CarImage/@item.Image" alt="product">
        </a>
        <div class="product-content">
            <div class="product-title">
                <h4 class="title-2"> <a href="product-details.html">@item.CarName</a></h4>
            </div> 
            <div class="price-box">
                @if (item.SalePrice == 0)
                {
                    <span class="regular-price ">$@item.Price</span>
                }
                else
                {
                    <span class="regular-price ">$@item.SalePrice</span>
                    <span class="old-price"><del>$@item.Price</del></span>
                }
            </div>
            <div class="product-rating">
                @for (int a = 0; a <= 5; a++)
                {
                    if (a < item.Rate)
                    {
                        <i class="fa fa-star"></i>

                    }
                    else
                    {
                        <i class="fa fa-star-o"></i>

                    }
                }
            </div>
        </div>
    </div>
}

@* <div class="sidebar-product align-items-center">
    <a href="product-details.html" class="image">
        <img src="assets/images/cart/2.jpg" alt="product">
    </a>
    <div class="product-content">
        <div class="product-title">
            <h4 class="title-2"> <a href="product-details.html">Pearly Everlasting</a></h4>
        </div>
        <div class="price-box">
            <span class="regular-price ">$50.00</span>
            <span class="old-price"><del>$60.00</del></span>
        </div>
        <div class="product-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
    </div>
</div>
<div class="sidebar-product align-items-center">
    <a href="product-details.html" class="image">
        <img src="assets/images/cart/3.jpg" alt="product">
    </a>
    <div class="product-content">
        <div class="product-title">
            <h4 class="title-2"> <a href="product-details.html">Jack in the Pulpit</a></h4>
        </div>
        <div class="price-box">
            <span class="regular-price ">$40.00</span>
            <span class="old-price"><del>$50.00</del></span>
        </div>
        <div class="product-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
    </div>
</div> *@