@model CarRental.Models.Menu
@{

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Content wrapper scroll start -->
<div class="content-wrapper-scroll">

    <!-- Main header starts -->
    <div class="main-header d-flex align-items-center justify-content-between position-relative">
        <div class="d-flex align-items-center justify-content-center">
            <div class="page-icon pe-3">
                <i class="bi bi-columns-gap"></i>
            </div>
            <div class="page-title d-none d-md-block">
                <h5>Form Inputs</h5>
            </div>
        </div>
        <!-- Live updates start -->
        <ul class="updates d-flex align-items-end flex-column overflow-hidden" id="updates">
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-envelope-paper text-red font-1x me-2"></i>
                    <span>12 emails from David Michaiah.</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-bar-chart text-blue font-1x me-2"></i>
                    <span>15 new features updated successfully.</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="bi bi-folder-check text-yellow font-1x me-2"></i>
                    <span>The media folder is created successfully.</span>
                </a>
            </li>
        </ul>
        <!-- Live updates end -->
    </div>
    <!-- Main header ends -->
    <!-- Content wrapper start -->
    <div class="content-wrapper">

        <!-- Row start -->
        <div class="row gx-3">
            <div class="col-sm-4 col-12">
                <div class="card">
                    <div class="card-body">

                        <form  method="post">

                            <div asp-validation-summary="All"></div>

                            
                            <div class="m-0">

                                <label asp-for="Title" class="form-label" for="abc">Tiêu đề</label>
                                <input asp-for="Title" type="text" class="form-control" id="abc" placeholder="Enter text">
                                <span asp-validation-for="Title" class="alert-danger"></span>
                            </div>

                            <div class="m-0">
                                <label asp-for="Alias" class="form-label" for="abc">Alias</label>
                                <input asp-for="Alias" type="text" class="form-control" id="abc" placeholder="Enter text">
                                <span asp-validation-for="Alias" class="alert-danger"></span>
                            </div>

                            <div class="m-0">
                                <label asp-for="Levels" class="form-label" for="abc">Mức</label>
                                <input asp-for="Levels" type="text" class="form-control" id="abc" placeholder="Enter text">
                                <span asp-validation-for="Levels" class="alert-danger"></span>
                            </div>

                            <div class="m-0">
                                <label asp-for="Position" class="form-label" for="abc">Vị trí</label>
                                <input asp-for="Position" type="text" class="form-control" id="abc" placeholder="Enter text">
                                <span asp-validation-for="Position" class="alert-danger"></span>
                            </div>

                            <div class="m-0">
                                <label asp-for="IsActive" class="form-label" for="abc">
                                    @Html.CheckBox("IsActive", false)
                                    Hiển thị
                                </label>
                                @*  <input asp-for="Position" type="text" class="form-control" id="abc" > *@
                            </div>
                            <a asp-controller="Menu" asp-action="Index" class="btn btn-success">quay lại</a>
                            <button type="submit" class="btn btn-success">Lưu</button>
                        </form>


                    </div>
                </div>
            </div>

        </div>
        <!-- Row end -->

    </div>
    <!-- Content wrapper end -->

</div>
<!-- Content wrapper scroll end -->