@model IEnumerable<CarRental.Models.CarType>
<div class="widget-list widget-mb-1">
    <h3 class="widget-title">Hạng xe</h3>
    <div class="sidebar-body">
        <ul class="sidebar-list">
            @foreach(var item in Model) {
                <li><a href="/Product/Index?TypeId=@item.TypeId">@item.CarTypeName</a></li>
            }
           
        </ul>
    </div>
</div>