@using CarRental.Utilities;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/admin/assets/css/bootstrap.css">

    <link rel="stylesheet" href="~/admin/assets/vendors/iconly/bold.css">

    <link rel="stylesheet" href="~/admin/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/admin/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="~/admin/assets/css/app.css">
    <link rel="shortcut icon" href="~/admin/assets/images/favicon.svg" type="image/x-icon">
    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@

    <script src="~/admin/assets/vendors/jquery/jquery.min.js"></script>

   

</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between row">
                        <div class="logo ">
                            <img src="~/admin/assets/images/faces/1.jpg" alt="profile" class="rounded-circle col-auto" />
                            <h6 class="col">@Function._UserName</h6>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item active ">
                            <a asp-controller="Home" asp-action="Index" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Home</span>
                            </a>
                        </li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Pages</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a asp-controller="Menus" asp-action="Index">Quản lí Menu</a>
                                </li>
                                <li class="submenu-item ">
                                    <a  asp-controller="Product" asp-action="Index">Quản lí sản phẩm</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Blogs" asp-action="Index">Quản lí Blog</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="News" asp-action="Index">Quản lí News</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Orders" asp-action="Index">Quản lí đơn đặt xe</a>
                                </li>
                                <li class="submenu-item ">
                                    <a asp-controller="Customer" asp-action="Index">Khách hàng</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="/Admin/file-manager">Quản lí FILE</a>
                                </li>
                               
                            </ul>
                        </li>
                        <li class="sidebar-item  ">
                            <a asp-controller="Account" asp-action="Edit" class='sidebar-link'>
                                <i class="bi bi-person-circle"></i>
                                <span>Account</span>
                            </a>
                        </li>
                        <li class="sidebar-item  ">
                            <a href="/Admin/Home/Logout" class='sidebar-link'>
                                <i class="bi bi-box-arrow-left"></i>
                                <span>Logout</span>
                            </a>
                        </li>
                        


                       

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
    <script src="~/admin/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/admin/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/admin/assets/vendors/apexcharts/apexcharts.js"></script>
    <script src="~/admin/assets/js/pages/dashboard.js"></script>

    <script src="~/admin/assets/js/main.js"></script>
    
</body>

</html>