@model CarRental.Models.CarRentalOrder




<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Thêm mới</h3>
                   
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Input</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Thêm mới xe</h4>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md">
                            <form asp-action="Edit" >
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <input type="hidden" asp-for="OrderId" />
                                <div class="form-group">
                                    <label asp-for="Customer.FullName">Tên người đặt</label>
                                    <input asp-for="Customer.FullName" class="form-control" id="basicInput"
                                          readonly>
                                    <span asp-validation-for="Customer.FullName" class="text-danger"></span>

                                </div>
                                
                                <div class="form-group">
                                    <label asp-for="OrderDate">Ngày đặt</label>
                                    <input asp-for="OrderDate"  class="form-control" id="basicInput"
                                           readonly>
                                    <span asp-validation-for="OrderDate" class="text-danger"></span>

                                </div>
                                <div class="form-group">
                                    <label asp-for="Deposit">Tiên cọc</label>
                                    <input asp-for="Deposit" type="text" class="form-control" id="basicInput"
                                           placeholder="Nhập màu xe" readonly>
                                    <span asp-validation-for="Deposit" class="text-danger"></span>

                                </div>
                                <div class="form-group">
                                    <label asp-for="Payment">Số tiền phải trả sau khi nhận xe</label>
                                    <input asp-for="Payment" type="text" class="form-control" id="basicInput"
                                           placeholder="Nhập model" readonly>
                                    <span asp-validation-for="Payment" class="text-danger"></span>

                                </div>
                                
                                <div class="form-group">
                                    <label asp-for="Notes">Lời nhắn</label>
                                    <input asp-for="Notes" type="text" class="form-control" id="basicInput"
                                           placeholder="Nhập giá xe" readonly>
                                    <span asp-validation-for="Notes" class="text-danger"></span>

                                </div>
                                <div class="form-group">
                                    <label asp-for="StatusId">Trạng thái</label>
                                    <select asp-for="StatusId" asp-items="ViewBag.OrderStatus" class="form-select" id="basicSelect">
                                        <option value="0" selected></option>
                                    </select>

                                    <span asp-validation-for="StatusId" class="text-danger"></span>

                                </div>
                               
                                <div class="btn-group mb-3">
                                    <div class="form-group">
                                        <input type="submit" value="Cập nhật" class="btn btn-primary" />
                                    </div>|
                                    <div class="form-group">
                                        <a asp-action="Index" class="btn btn-danger">Quay lại</a>

                                    </div>
                                </div>

                            </form>


                        </div>

                    </div>
                </div>
            </div>
        </section>



    </div>

    <footer>
        <div class="footer clearfix mb-0 text-muted">
            <div class="float-start">
                <p>2021 &copy; Mazer</p>
            </div>
            <div class="float-end">
                <p>
                    Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="http://ahmadsaugi.com">A. Saugi</a>
                </p>
            </div>
        </div>
    </footer>
</div>

@{
    var summernote = new CarRental.Areas.Admin.Models.SummerNote("#Details");
        <partial name="_SummerNote" model="summernote" />
}