@using CarRental.Utilities
@model CarRental.Models.Customer;
<!-- Breadcrumb Area Start Here -->
<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">Login-Register</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Login-Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- Register Area Start Here -->
<div class="login-register-area mt-no-text" style="margin-bottom:200px">
    <div class="container container-default-2 custom-area">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-custom">
                <div class="login-register-wrapper">
                    <div class="section-content text-center mb-5">
                        <h2 class="title-4 mb-2">Create Account</h2>
                        <p class="desc-content">Please Register using account detail bellow.</p>
                    </div>
                    <form asp-controller="Register" asp-action="Index">
                        <div class="single-input-item mb-3">
                            <input type="text" asp-for="Name" placeholder="Your Name">
                        </div>
                        @* <div class="single-input-item mb-3">
                            <input type="text" placeholder="Last Name">
                        </div> *@
                        <div class="single-input-item mb-3">
                            <input type="email" asp-for="Email" placeholder="Email ">
                        </div>
                        <div class="single-input-item mb-3">
                            <input type="password" asp-for="Password" placeholder="Enter your Password">
                        </div>
                        <div class="single-input-item mb-3">
                            <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                <div class="remember-meta mb-3">
                                    <div class="custom-control custom-checkbox">
                                        @* <input type="checkbox" class="custom-control-input" id="rememberMe"> *@
                                        <label class="custom-control-label" for="rememberMe">Bạn đã có tài khoản? <a asp-controller="Login" asp-action="Index" style="color:#E72463">Đăng nhập</a></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-input-item mb-3">
                            <h6>
                                
                                @Function._MessageEmail
                            </h6>
                        </div>
                        <div class="single-input-item mb-3">
                            <button class="btn flosun-button secondary-btn theme-color rounded-0">Đăng kí</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Area End Here -->
